<div ng-controller="login-controller">
    <form ng-submit="login()">
        <label>Login:</label><br>
        <input type="text" ng-model="user.login"><br>
        <label>Password:</label><br>
        <input type="text" ng-model="user.password"><br>
        <input type="submit" value="login"/>
    </form>
</div>
