<div ng-controller="way-controller">
    <div id="map" style='width: 100%; height: 650px;' ng-show="show"></div>
    <button ng-click="showMap()">Show Map</button>
    <button ng-click="getWaysFromBbox()">Show ways</button>
    <label>Show no parking ways:
        <input type="checkbox" ng-model="checkBox" ng-change='showNoParking()' ng-disabled="disableCheckBox">
    </label><br>
    <button ng-click="removeBbox()">Remove Bbox</button><br>
    <button ng-click="getRestrictionSegment()">Restriction segment</button>
    <br>
    <button ng-click="logout()">Logout</button>
</div>